.login_box {
	position: absolute;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -82px;
}

.login_box_header {
	line-height: 35px;
	font-size: 16px;
	font-weight: bold;
	color: #111111 !important;
	padding: 0px 10px;
	border: 1px solid #999999;
	margin: -1px;
	background: url('../global/img/table-footer-bg.png') repeat-x center center;
}

.login_box table {
	margin: 10px 10px;
}

.login_error {
	color: red;
	padding-bottom: 10px;
}

#menu {
	display: none;
}